openapi: 3.0.3
info:
  description: "At Sqala, we believe that everyone deserves access to financial services,\
    \ and we are committed to providing secure and reliable payment solutions to clients\
    \ who may have been overlooked by traditional financial institutions."
  title: Developer API
  version: "1.0"
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
  x-konfig-has-globally-required-security: true
servers:
- url: https://api.sqala.tech/developer/v1
security:
- sec0: []
tags:
- name: Recipient
- name: Webhook
- name: ITP
- name: QRCode
- name: BankTransfer
- name: Token
paths:
  /access-tokens:
    post:
      deprecated: false
      description: ""
      operationId: Token_generateAccessToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenGenerateAccessTokenRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "token": "eyJraWQiOiJwb1NPeDI0VHRmbDZCYjdaZ3RcL296WGpqUzMrTVlkYTNScXdON1dVSXJkbz0iLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiIyZjE5MDk0Mi1jMjY5LTQxMjQtOTNkNy01YTdmYTkwMTQ0YzkiLCJpc3MiOiJodHRwczpcL1wvY29nbml0by1pZHAuc2EtZWFzdC0xLmFtYXpvbmF3cy5jb21cL3NhLWVhc3QtMV82eWdMcFJLMGUiLCJjbGllbnRfaWQiOiIyNXQwOGxwaHYwN2IzZnZqZ2FqcTNsczFrcCIsIm9yaWdpbl9qdGkiOiIzZWZjODY1Yi01MzU2LTQwNWMtOTQxYy1iNmExM2I3ODFhNWYiLCJldmVudF9pZCI6ImMyMTM1NjgzLWY3YTUtNGMxYy04MzUzLWM3MTUyNmQ2NDU5YyIsInRva2VuX3VzZSI6ImFjY2VzcyIsInNjb3BlIjoiYXdzLmNvZ25pdG8uc2lnbmluLnVzZXIuYWRtaW4iLCJhdXRoX3RpbWUiOjE2NTQ4MTY3OTgsImV4cCI6MTY1NDgyMDUyNCwiaWF0IjoxNjU0ODE2OTI0LCJqdGkiOiI2ZmVhODZiNC1kNDVmLTRhOGQtYjEwYi1iOWRhNzkzODQyZmQiLCJ1c2VybmFtZSI6ImNhcmxvc3BlY2FuaGEyQG91dGxvb2suY29tIn0.PfKd8rpnq9xPO3IwSRkDuBDx0VjN41ABKvm0xIybNCxWh5N1b7HZsTPxjh6GiDoHWYnr8_HCzXqk0MQXYHt7ybHKIFPKqOaA4VpBrb-WaazwSAGdTJFt3grZb4KP-ab2gKaYMji9x1l_SDAaEU-frEHErOnJwyMPi1dn2pZAKJMp4p7IIctwYTFITokP4Lqn7amy_PHlsXoNlUPV0BoNBrFFq-sp22NXSdDtIsdSkyRlGqlOHNTd2zMNqqKCFx3lBt1dPfm6gPvx_mwlOiT0icAXwUOsXxi22P5HgEoh3HJw2NneP9xC8Mw1BQvhBdmfnmANQzIHWkFfBMCQo3xF5w",
                      "expiresIn": 3600,
                      "type": "Bearer"
                    }
              schema:
                $ref: '#/components/schemas/TokenGenerateAccessTokenResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/TokenGenerateAccessToken400Response'
          description: "400"
          x-do-not-generate: true
      summary: Create an Access Token
      tags:
      - Token
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--access-tokens
      x-content-type: application/json
      x-accepts: application/json
  /pix-qrcode-payments:
    get:
      deprecated: false
      description: ""
      operationId: QrCode_listAll
      parameters:
      - description: "A limit on the number of objects to be returned, between 1 and\
          \ 50."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          example: 10
          format: int32
          type: integer
          x-konfig-original-example: 10
          x-konfig-generated-schema: konfig-generated-schema-paths--pix-qrcode-payments-get-parameters-0-schema
        style: form
      - description: "A cursor for use in pagination. ```before``` is an object ID\
          \ that defines your place in the list. For instance, if you make a list\
          \ request and receive 50 objects, starting with ```obj_bar```, your subsequent\
          \ call can include ```before=obj_bar``` in order to fetch the previous page\
          \ of the list."
        explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - description: "A cursor for use in pagination. after is an object ID that defines\
          \ your place in the list. For instance, if you make a list request and receive\
          \ 50 objects, ending with obj_foo, your subsequent call can include after=obj_foo\
          \ in order to fetch the next page of the list."
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                       "data":[
                          {
                             "id":"6a0b14a9-023c-4198-9ada-6e4684213340",
                             "code":"804a46a7-7012-4159-8782-1090e85e4afa",
                             "type":"STATIC",
                             "amount":4990,
                             "paidAmount":null,
                             "payload":"00020126580014BR.GOV.BCB.PIX01368ad59cd0-cd85-45eb-a443-b8824285c5f352040000530398654041.295802BR5924RPO GESTAO DE PAGAMENTOS6008SO PAULO6108000000006224052046193bc0333a468fa1ee6304A3E1",
                             "payer":{
                                "name":"Bruce Wayne",
                                "taxId":"37515868066"
                             },
                             "split":[
                                {
                                   "value":990,
                                   "recipientId":"009cb956-3b58-4731-927f-20225600b35b"
                                }
                             ],
                             "status":"PROCESSED",
                             "createdAt":"2022-06-06T11:48:21Z",
                             "processedAt":"2022-06-06T11:48:26Z",
                             "paidAt":null,
                             "failedAt":null,
                             "metadata":[
                                {
                                   "name":"CUSTOM_FIELD_NAME",
                                   "value":"CUSTOM_FIELD_VALUE"
                                }
                             ]
                          }
                       ],
                       "paging":{
                          "before":null,
                          "after":"aWQ6YzYyZjViNTAtZTNiOS0xMWVjLTk0OWEtNjFkMjljNjZlMmNm"
                       }
                    }
              schema:
                $ref: '#/components/schemas/QrCodeListAllResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/QrCodeListAll400Response'
          description: "400"
          x-do-not-generate: true
      summary: List all Pix QR Codes
      tags:
      - QRCode
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--pix-qrcode-payments
      x-accepts: application/json
    post:
      deprecated: false
      description: ""
      operationId: QrCode_generateQrCode
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QrCodeGenerateQrCodeRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \t\"id\": \"6a0b14a9-023c-4198-9ada-6e4684213340\"\
                    ,\n  \t\"code\": \"804a46a7-7012-4159-8782-1090e85e4afa\",\n \
                    \   \"type\": \"STATIC\",\n    \"amount\": 4990,\n    \"paidAmount\"\
                    : null,\n    \"payload\": \"00020126580014BR.GOV.BCB.PIX01368ad59cd0-cd85-45eb-a443-b8824285c5f352040000530398654041.295802BR5924RPO\
                    \ GESTAO DE PAGAMENTOS6008SO PAULO6108000000006224052046193bc0333a468fa1ee6304A3E1\"\
                    ,\n    \"payer\": {\n      \"name\": \"Bruce Wayne\",\n      \"\
                    taxId\": \"37515868066\"\n    },\n    \"split\": [\n      {\n\
                    \        \"value\": 990,\n        \"recipientId\": \"009cb956-3b58-4731-927f-20225600b35b\"\
                    \n      }\n    ],\n  \t\"status\": \"PROCESSED\",\n    \"createdAt\"\
                    : \"2022-06-06T11:48:21Z\",\n    \"processedAt\": \"2022-06-06T11:48:26Z\"\
                    ,\n    \"paidAt\": null,\n    \"failedAt\": null,\n    \"metadata\"\
                    : [\n      {\n        \"name\": \"CUSTOM_FIELD_NAME\", \n    \
                    \    \"value\": \"CUSTOM_FIELD_VALUE\"\n      }\n    ]\n}"
              schema:
                $ref: '#/components/schemas/QrCodeGenerateQrCodeResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"code\": \"INVALID_BODY\",\n  \"message\": \"Invalid\
                    \ body, check 'errors' property for more info.\",\n  \"errors\"\
                    : [\n    \"amount must be a positive number\"\n  ]\n}"
              schema:
                $ref: '#/components/schemas/QrCodeGenerateQrCode400Response'
          description: "400"
          x-do-not-generate: true
      summary: Create a Pix QR Code
      tags:
      - QRCode
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--pix-qrcode-payments
      x-content-type: application/json
      x-accepts: application/json
  /pix-qrcode-payments/{id}:
    get:
      deprecated: false
      description: ""
      operationId: QrCode_getQrCodeById
      parameters:
      - description: Unique identifier for the object.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \t\"id\": \"6a0b14a9-023c-4198-9ada-6e4684213340\"\
                    ,\n  \t\"code\": \"804a46a7-7012-4159-8782-1090e85e4afa\",\n \
                    \   \"type\": \"STATIC\",\n    \"amount\": 4990,\n    \"paidAmount\"\
                    : null,\n    \"payload\": \"00020126580014BR.GOV.BCB.PIX01368ad59cd0-cd85-45eb-a443-b8824285c5f352040000530398654041.295802BR5924RPO\
                    \ GESTAO DE PAGAMENTOS6008SO PAULO6108000000006224052046193bc0333a468fa1ee6304A3E1\"\
                    ,\n    \"payer\": {\n      \"name\": \"Bruce Wayne\",\n      \"\
                    taxId\": \"37515868066\"\n    },\n    \"split\": [\n      {\n\
                    \        \"value\": 990,\n        \"recipientId\": \"009cb956-3b58-4731-927f-20225600b35b\"\
                    \n      }\n    ],\n  \t\"status\": \"PROCESSED\",\n    \"createdAt\"\
                    : \"2022-06-06T11:48:21Z\",\n    \"processedAt\": \"2022-06-06T11:48:26Z\"\
                    ,\n    \"paidAt\": null,\n    \"failedAt\": null,\n    \"metadata\"\
                    : [\n      {\n        \"name\": \"CUSTOM_FIELD_NAME\", \n    \
                    \    \"value\": \"CUSTOM_FIELD_VALUE\"\n      }\n    ]\n}"
              schema:
                $ref: '#/components/schemas/QrCodeGetQrCodeByIdResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/QrCodeGetQrCodeById400Response'
          description: "400"
          x-do-not-generate: true
      summary: Retrieve a Pix QR Code
      tags:
      - QRCode
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--pix-qrcode-payments-id
      x-accepts: application/json
  /itp-payments:
    get:
      deprecated: false
      description: ""
      operationId: Itp_listAll
      parameters:
      - description: "A limit on the number of objects to be returned, between 1 and\
          \ 50."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          example: 10
          format: int32
          type: integer
          x-konfig-original-example: 10
          x-konfig-generated-schema: konfig-generated-schema-paths--itp-payments-get-parameters-0-schema
        style: form
      - description: "A cursor for use in pagination. ```before``` is an object ID\
          \ that defines your place in the list. For instance, if you make a list\
          \ request and receive 50 objects, starting with ```obj_bar```, your subsequent\
          \ call can include ```before=obj_bar``` in order to fetch the previous page\
          \ of the list."
        explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - description: "A cursor for use in pagination. after is an object ID that defines\
          \ your place in the list. For instance, if you make a list request and receive\
          \ 50 objects, ending with obj_foo, your subsequent call can include after=obj_foo\
          \ in order to fetch the next page of the list."
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                       "data":[
                          {
                             "id":"6a0b14a9-023c-4198-9ada-6e4684213340",
                             "code":"804a46a7-7012-4159-8782-1090e85e4afa",
                             "type":"STATIC",
                             "amount":4990,
                             "paidAmount":null,
                             "payload":"00020126580014BR.GOV.BCB.PIX01368ad59cd0-cd85-45eb-a443-b8824285c5f352040000530398654041.295802BR5924RPO GESTAO DE PAGAMENTOS6008SO PAULO6108000000006224052046193bc0333a468fa1ee6304A3E1",
                             "payer":{
                                "name":"Bruce Wayne",
                                "taxId":"37515868066"
                             },
                             "split":[
                                {
                                   "value":990,
                                   "recipientId":"009cb956-3b58-4731-927f-20225600b35b"
                                }
                             ],
                             "status":"PROCESSED",
                             "createdAt":"2022-06-06T11:48:21Z",
                             "processedAt":"2022-06-06T11:48:26Z",
                             "paidAt":null,
                             "failedAt":null,
                             "metadata":[
                                {
                                   "name":"CUSTOM_FIELD_NAME",
                                   "value":"CUSTOM_FIELD_VALUE"
                                }
                             ]
                          }
                       ],
                       "paging":{
                          "before":null,
                          "after":"aWQ6YzYyZjViNTAtZTNiOS0xMWVjLTk0OWEtNjFkMjljNjZlMmNm"
                       }
                    }
              schema:
                $ref: '#/components/schemas/ItpListAllResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/ItpListAll400Response'
          description: "400"
          x-do-not-generate: true
      summary: List all ITPs
      tags:
      - ITP
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--itp-payments
      x-accepts: application/json
    post:
      deprecated: false
      description: ""
      operationId: Itp_createPaymentInstruction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItpCreatePaymentInstructionRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \t\"id\": \"6a0b14a9-023c-4198-9ada-6e4684213340\"\
                    ,\n  \t\"code\": \"804a46a7-7012-4159-8782-1090e85e4afa\",\n \
                    \   \"type\": \"STATIC\",\n    \"amount\": 4990,\n    \"paidAmount\"\
                    : null,\n    \"payload\": \"00020126580014BR.GOV.BCB.PIX01368ad59cd0-cd85-45eb-a443-b8824285c5f352040000530398654041.295802BR5924RPO\
                    \ GESTAO DE PAGAMENTOS6008SO PAULO6108000000006224052046193bc0333a468fa1ee6304A3E1\"\
                    ,\n    \"payer\": {\n      \"name\": \"Bruce Wayne\",\n      \"\
                    taxId\": \"37515868066\"\n    },\n    \"split\": [\n      {\n\
                    \        \"value\": 990,\n        \"recipientId\": \"009cb956-3b58-4731-927f-20225600b35b\"\
                    \n      }\n    ],\n  \t\"status\": \"PROCESSED\",\n    \"createdAt\"\
                    : \"2022-06-06T11:48:21Z\",\n    \"processedAt\": \"2022-06-06T11:48:26Z\"\
                    ,\n    \"paidAt\": null,\n    \"failedAt\": null,\n    \"metadata\"\
                    : [\n      {\n        \"name\": \"CUSTOM_FIELD_NAME\", \n    \
                    \    \"value\": \"CUSTOM_FIELD_VALUE\"\n      }\n    ]\n}"
              schema:
                $ref: '#/components/schemas/ItpCreatePaymentInstructionResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"code\": \"INVALID_BODY\",\n  \"message\": \"Invalid\
                    \ body, check 'errors' property for more info.\",\n  \"errors\"\
                    : [\n    \"amount must be a positive number\"\n  ]\n}"
              schema:
                $ref: '#/components/schemas/ItpCreatePaymentInstruction400Response'
          description: "400"
          x-do-not-generate: true
      summary: Create an ITP
      tags:
      - ITP
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--itp-payments
      x-content-type: application/json
      x-accepts: application/json
  /itp-payments/{id}:
    get:
      deprecated: false
      description: ""
      operationId: Itp_getItp
      parameters:
      - description: Unique identifier for the object.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \t\"id\": \"6a0b14a9-023c-4198-9ada-6e4684213340\"\
                    ,\n  \t\"code\": \"804a46a7-7012-4159-8782-1090e85e4afa\",\n \
                    \   \"type\": \"STATIC\",\n    \"amount\": 4990,\n    \"paidAmount\"\
                    : null,\n    \"payload\": \"00020126580014BR.GOV.BCB.PIX01368ad59cd0-cd85-45eb-a443-b8824285c5f352040000530398654041.295802BR5924RPO\
                    \ GESTAO DE PAGAMENTOS6008SO PAULO6108000000006224052046193bc0333a468fa1ee6304A3E1\"\
                    ,\n    \"payer\": {\n      \"name\": \"Bruce Wayne\",\n      \"\
                    taxId\": \"37515868066\"\n    },\n    \"split\": [\n      {\n\
                    \        \"value\": 990,\n        \"recipientId\": \"009cb956-3b58-4731-927f-20225600b35b\"\
                    \n      }\n    ],\n  \t\"status\": \"PROCESSED\",\n    \"createdAt\"\
                    : \"2022-06-06T11:48:21Z\",\n    \"processedAt\": \"2022-06-06T11:48:26Z\"\
                    ,\n    \"paidAt\": null,\n    \"failedAt\": null,\n    \"metadata\"\
                    : [\n      {\n        \"name\": \"CUSTOM_FIELD_NAME\", \n    \
                    \    \"value\": \"CUSTOM_FIELD_VALUE\"\n      }\n    ]\n}"
              schema:
                $ref: '#/components/schemas/ItpGetItpResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/ItpGetItp400Response'
          description: "400"
          x-do-not-generate: true
      summary: Retrieve an ITP
      tags:
      - ITP
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--itp-payments-id
      x-accepts: application/json
  /bank-transfer-payments/{bankTransferId}:
    get:
      deprecated: false
      description: ""
      operationId: BankTransfer_getBankTransfer
      parameters:
      - explode: false
        in: path
        name: bankTransferId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/BankTransferGetBankTransferResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/BankTransferGetBankTransfer400Response'
          description: "400"
          x-do-not-generate: true
      summary: Retrieve a Bank Transfer
      tags:
      - BankTransfer
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--bank-transfer-payments-bankTransferId
      x-accepts: application/json
  /bank-transfer-payments:
    get:
      deprecated: false
      description: ""
      operationId: BankTransfer_listAllBankTransfers
      parameters:
      - description: "A limit on the number of objects to be returned, between 1 and\
          \ 50."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: "10"
          example: "10"
          type: string
          x-konfig-original-example: "10"
          x-konfig-generated-schema: konfig-generated-schema-paths--bank-transfer-payments-get-parameters-0-schema
        style: form
      - description: "A cursor for use in pagination. ```before``` is an object ID\
          \ that defines your place in the list. For instance, if you make a list\
          \ request and receive 50 objects, starting with ```obj_bar```, your subsequent\
          \ call can include ```before=obj_bar``` in order to fetch the previous page\
          \ of the list."
        explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - description: "A cursor for use in pagination. after is an object ID that defines\
          \ your place in the list. For instance, if you make a list request and receive\
          \ 50 objects, ending with obj_foo, your subsequent call can include after=obj_foo\
          \ in order to fetch the next page of the list."
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/BankTransferListAllBankTransfersResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/BankTransferListAllBankTransfers400Response'
          description: "400"
          x-do-not-generate: true
      summary: List all Bank Transfers
      tags:
      - BankTransfer
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--bank-transfer-payments
      x-accepts: application/json
  /recipients:
    get:
      deprecated: false
      description: ""
      operationId: Recipient_listAll
      parameters:
      - description: "A limit on the number of objects to be returned, between 1 and\
          \ 50."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          example: 10
          format: int32
          type: integer
          x-konfig-original-example: 10
          x-konfig-generated-schema: konfig-generated-schema-paths--recipients-get-parameters-0-schema
        style: form
      - description: "A cursor for use in pagination. ```before``` is an object ID\
          \ that defines your place in the list. For instance, if you make a list\
          \ request and receive 50 objects, starting with ```obj_bar```, your subsequent\
          \ call can include ```before=obj_bar``` in order to fetch the previous page\
          \ of the list."
        explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - description: "A cursor for use in pagination. after is an object ID that defines\
          \ your place in the list. For instance, if you make a list request and receive\
          \ 50 objects, ending with obj_foo, your subsequent call can include after=obj_foo\
          \ in order to fetch the next page of the list."
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                       "data":[
                          {
                             "id": "80e579ff-e3a6-4573-84ff-30de777e7861",
                             "code": "a1fc515c-ce4a-45e0-8802-2696b2c0337a",
                             "name": "Bruce Wayne",
                             "taxId": "37515868066",
                             "type": "INDIVIDUAL",
                             "status": "ACTIVE",
                             "createdAt": "2022-06-08T15:02:00Z",
                             "updatedAt": null,
                             "deletedAt": null,
                             "metadata": {
                                "CUSTOM_FIELD_NAME": "CUSTOM_FIELD_VALUE"
                             }
                          }
                       ],
                       "paging": {
                         "before": "",
                         "after": "aWQ6YzYyZjViNTAtZTNiOS0xMWVjLTk0OWEtNjFkMjljNjZlMmNm"
                       }
                    }
              schema:
                $ref: '#/components/schemas/RecipientListAllResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/RecipientListAll400Response'
          description: "400"
          x-do-not-generate: true
      summary: List all Recipients
      tags:
      - Recipient
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--recipients
      x-accepts: application/json
    post:
      deprecated: false
      description: ""
      operationId: Recipient_createRecipient
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecipientCreateRecipientRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": \"80e579ff-e3a6-4573-84ff-30de777e7861\",\n\
                    \  \"code\": \"a1fc515c-ce4a-45e0-8802-2696b2c0337a\",\n  \"name\"\
                    : \"Bruce Wayne\",\n  \"taxId\": \"37515868066\",\n  \"type\"\
                    : \"INDIVIDUAL\",\n  \"status\": \"ACTIVE\",\n  \"createdAt\"\
                    : \"2022-06-08T15:02:00Z\",\n  \"updatedAt\": null,\n  \"deletedAt\"\
                    : null,\n  \"metadata\": {\n  \t\"CUSTOM_FIELD_NAME\": \"CUSTOM_FIELD_VALUE\"\
                    , \n  }\n}"
              schema:
                $ref: '#/components/schemas/RecipientCreateRecipientResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/RecipientCreateRecipient400Response'
          description: "400"
          x-do-not-generate: true
      summary: Create a Recipient
      tags:
      - Recipient
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--recipients
      x-content-type: application/json
      x-accepts: application/json
  /recipients/{id}:
    get:
      deprecated: false
      description: ""
      operationId: Recipient_getById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": \"80e579ff-e3a6-4573-84ff-30de777e7861\",\n\
                    \  \"code\": \"a1fc515c-ce4a-45e0-8802-2696b2c0337a\",\n  \"name\"\
                    : \"Bruce Wayne\",\n  \"taxId\": \"37515868066\",\n  \"type\"\
                    : \"INDIVIDUAL\",\n  \"status\": \"ACTIVE\",\n  \"createdAt\"\
                    : \"2022-06-08T15:02:00Z\",\n  \"updatedAt\": null,\n  \"deletedAt\"\
                    : null,\n  \"metadata\": {\n  \t\"CUSTOM_FIELD_NAME\": \"CUSTOM_FIELD_VALUE\"\
                    , \n  }\n}"
              schema:
                $ref: '#/components/schemas/RecipientGetByIdResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/RecipientGetById400Response'
          description: "400"
          x-do-not-generate: true
      summary: Retrieve a Recipient
      tags:
      - Recipient
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--recipients-id
      x-accepts: application/json
    put:
      deprecated: false
      description: ""
      operationId: Recipient_updateRecipientById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": \"80e579ff-e3a6-4573-84ff-30de777e7861\",\n\
                    \  \"code\": \"a1fc515c-ce4a-45e0-8802-2696b2c0337a\",\n  \"name\"\
                    : \"Bruce Wayne\",\n  \"taxId\": \"37515868066\",\n  \"type\"\
                    : \"INDIVIDUAL\",\n  \"status\": \"ACTIVE\",\n  \"createdAt\"\
                    : \"2022-06-08T15:02:00Z\",\n  \"updatedAt\": \"2022-06-08T15:02:00Z\"\
                    ,\n  \"deletedAt\": null,\n  \"metadata\": {\n  \t\"CUSTOM_FIELD_NAME\"\
                    : \"CUSTOM_FIELD_VALUE\", \n  }\n}"
              schema:
                $ref: '#/components/schemas/RecipientUpdateRecipientByIdResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/RecipientUpdateRecipientById400Response'
          description: "400"
          x-do-not-generate: true
      summary: Update a Recipient
      tags:
      - Recipient
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--recipients-id
      x-accepts: application/json
  /recipients/{recipientId}/bank-accounts:
    get:
      deprecated: false
      description: ""
      operationId: Recipient_listBankAccounts
      parameters:
      - explode: false
        in: path
        name: recipientId
        required: true
        schema:
          default: DEFAULT
          example: DEFAULT
          type: string
          x-konfig-original-example: DEFAULT
          x-konfig-generated-schema: konfig-generated-schema-paths--recipients-recipientId-bank-accounts-get-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                       "data":[
                          {
                            "id": "a8a9c988-c2ba-44b9-af2d-ee6fcc00e269",
                            "code": "ade39877-cb26-42bc-b151-8e6eef84284d",
                            "holderName": "Bruce Wayne",
                            "holderTaxId": "37515868066",
                            "holderType": "INDIVIDUAL",
                            "branchNumber": "0001",
                            "accountNumber": "11111-1",
                            "bankId": "60701190",
                            "status": "ACTIVE",
                            "createdAt": "2022-06-06T11:48:21Z",
                            "updatedAt": null,
                            "deletedAt": null,
                            "metadata": {
                              "CUSTOM_FIELD_NAME": "CUSTOM_FIELD_VALUE"
                            }
                          }
                       ],
                       "paging": {
                         "before": "",
                         "after": "aWQ6YzYyZjViNTAtZTNiOS0xMWVjLTk0OWEtNjFkMjljNjZlMmNm"
                       }
                    }
              schema:
                $ref: '#/components/schemas/RecipientListBankAccountsResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/RecipientListBankAccounts400Response'
          description: "400"
          x-do-not-generate: true
      summary: List all Bank Accounts
      tags:
      - Recipient
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--recipients-recipientId-bank-accounts
      x-accepts: application/json
    post:
      deprecated: false
      description: ""
      operationId: Recipient_createBankAccount
      parameters:
      - explode: false
        in: path
        name: recipientId
        required: true
        schema:
          default: DEFAULT
          example: DEFAULT
          type: string
          x-konfig-original-example: DEFAULT
          x-konfig-generated-schema: konfig-generated-schema-paths--recipients-recipientId-bank-accounts-post-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecipientCreateBankAccountRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": \"a8a9c988-c2ba-44b9-af2d-ee6fcc00e269\",\n\
                    \  \"code\": \"ade39877-cb26-42bc-b151-8e6eef84284d\",\n  \"holderName\"\
                    : \"Bruce Wayne\",\n  \"holderTaxId\": \"37515868066\",\n  \"\
                    holderType\": \"INDIVIDUAL\",\n  \"branchNumber\": \"0001\",\n\
                    \  \"accountNumber\": \"11111-1\",\n  \"bankId\": \"60701190\"\
                    ,\n  \"status\": \"ACTIVE\",\n  \"createdAt\": \"2022-06-06T11:48:21Z\"\
                    ,\n  \"updatedAt\": null,\n  \"deletedAt\": null,\n  \"metadata\"\
                    : {\n  \t\"CUSTOM_FIELD_NAME\": \"CUSTOM_FIELD_VALUE\"\n  }\n}"
              schema:
                $ref: '#/components/schemas/RecipientCreateBankAccountResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/RecipientCreateBankAccount400Response'
          description: "400"
          x-do-not-generate: true
      summary: Create a Bank Account
      tags:
      - Recipient
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--recipients-recipientId-bank-accounts
      x-content-type: application/json
      x-accepts: application/json
  /recipients/{recipientId}/bank-accounts/{bankAccountId}:
    delete:
      deprecated: false
      description: ""
      operationId: Recipient_deleteBankAccount
      parameters:
      - explode: false
        in: path
        name: recipientId
        required: true
        schema:
          default: DEFAULT
          example: DEFAULT
          type: string
          x-konfig-original-example: DEFAULT
          x-konfig-generated-schema: konfig-generated-schema-paths--recipients-recipientId-bank-accounts-bankAccountId-delete-parameters-0-schema
        style: simple
      - explode: false
        in: path
        name: bankAccountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": \"a8a9c988-c2ba-44b9-af2d-ee6fcc00e269\",\n\
                    \  \"code\": \"ade39877-cb26-42bc-b151-8e6eef84284d\",\n  \"holderName\"\
                    : \"Bruce Wayne\",\n  \"holderTaxId\": \"37515868066\",\n  \"\
                    holderType\": \"INDIVIDUAL\",\n  \"branchNumber\": \"0001\",\n\
                    \  \"accountNumber\": \"11111-1\",\n  \"bankId\": \"60701190\"\
                    ,\n  \"status\": \"DELETED\",\n  \"createdAt\": \"2022-06-06T11:48:21Z\"\
                    ,\n  \"updatedAt\": null,\n  \"deletedAt\": \"2022-06-06T11:48:21Z\"\
                    ,\n  \"metadata\": {\n  \t\"CUSTOM_FIELD_NAME\": \"CUSTOM_FIELD_VALUE\"\
                    \n  }\n}"
              schema:
                $ref: '#/components/schemas/RecipientDeleteBankAccountResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/RecipientDeleteBankAccount400Response'
          description: "400"
          x-do-not-generate: true
      summary: Delete a Bank Account
      tags:
      - Recipient
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--recipients-recipientId-bank-accounts-bankAccountId
      x-accepts: application/json
    get:
      deprecated: false
      description: ""
      operationId: Recipient_getBankAccount
      parameters:
      - explode: false
        in: path
        name: recipientId
        required: true
        schema:
          default: DEFAULT
          example: DEFAULT
          type: string
          x-konfig-original-example: DEFAULT
          x-konfig-generated-schema: konfig-generated-schema-paths--recipients-recipientId-bank-accounts-bankAccountId-get-parameters-0-schema
        style: simple
      - explode: false
        in: path
        name: bankAccountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": \"a8a9c988-c2ba-44b9-af2d-ee6fcc00e269\",\n\
                    \  \"code\": \"ade39877-cb26-42bc-b151-8e6eef84284d\",\n  \"holderName\"\
                    : \"Bruce Wayne\",\n  \"holderTaxId\": \"37515868066\",\n  \"\
                    holderType\": \"INDIVIDUAL\",\n  \"branchNumber\": \"0001\",\n\
                    \  \"accountNumber\": \"11111-1\",\n  \"bankId\": \"60701190\"\
                    ,\n  \"status\": \"ACTIVE\",\n  \"createdAt\": \"2022-06-06T11:48:21Z\"\
                    ,\n  \"updatedAt\": null,\n  \"deletedAt\": null,\n  \"metadata\"\
                    : {\n  \t\"CUSTOM_FIELD_NAME\": \"CUSTOM_FIELD_VALUE\"\n  }\n}"
              schema:
                $ref: '#/components/schemas/RecipientGetBankAccountResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/RecipientGetBankAccount400Response'
          description: "400"
          x-do-not-generate: true
      summary: Retrieve a Bank Account
      tags:
      - Recipient
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--recipients-recipientId-bank-accounts-bankAccountId
      x-accepts: application/json
  /recipients/{recipientId}/withdrawals:
    get:
      deprecated: false
      description: ""
      operationId: Recipient_listWithdrawals
      parameters:
      - explode: false
        in: path
        name: recipientId
        required: true
        schema:
          default: DEFAULT
          example: DEFAULT
          type: string
          x-konfig-original-example: DEFAULT
          x-konfig-generated-schema: konfig-generated-schema-paths--recipients-recipientId-withdrawals-get-parameters-0-schema
        style: simple
      - description: "A limit on the number of objects to be returned, between 1 and\
          \ 50."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: "10"
          example: "10"
          type: string
          x-konfig-original-example: "10"
          x-konfig-generated-schema: konfig-generated-schema-paths--recipients-recipientId-withdrawals-get-parameters-1-schema
        style: form
      - description: "A cursor for use in pagination. ```before``` is an object ID\
          \ that defines your place in the list. For instance, if you make a list\
          \ request and receive 50 objects, starting with ```obj_bar```, your subsequent\
          \ call can include ```before=obj_bar``` in order to fetch the previous page\
          \ of the list."
        explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - description: "A cursor for use in pagination. after is an object ID that defines\
          \ your place in the list. For instance, if you make a list request and receive\
          \ 50 objects, ending with obj_foo, your subsequent call can include after=obj_foo\
          \ in order to fetch the next page of the list."
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{\n   \"data\": [\n      {\n         \"id\": \"86cfd98a-dcc5-4b67-b8d7-841e4a9f37fd\"\
                    ,\n         \"code\": \"45447b68-09fc-4af9-be82-d7b4df00fc3b\"\
                    ,\n         \"amount\": 990,\n         \"method\": \"PIX\",\n\
                    \         \"status\": \"PAID\",\n         \"createdAt\": \"2022-06-06T11:48:21Z\"\
                    ,\n         \"approvedAt\": \"2022-06-06T11:48:21Z\",\n      \
                    \   \"rejectedAt\": null,\n         \"paidAt\":\" 2022-06-06T11:48:21Z\"\
                    ,\n         \"failedAt\": null,\n         \"pixKey\": null,\n\
                    \         \"bankAccount\": {\n            \"id\": \"a8a9c988-c2ba-44b9-af2d-ee6fcc00e269\"\
                    ,\n            \"code\": \"ade39877-cb26-42bc-b151-8e6eef84284d\"\
                    ,\n            \"holderName\": \"Bruce Wayne\",\n            \"\
                    holderTaxId\": \"37515868066\",\n            \"holderType\": \"\
                    INDIVIDUAL\",\n            \"branchNumber\": \"0001\",\n     \
                    \       \"accountNumber\": \"11111-1\",\n            \"bankId\"\
                    : \"60701190\",\n            \"status\": \"ACTIVE\",\n       \
                    \     \"createdAt\": \"2022-06-06T11:48:21Z\",\n            \"\
                    updatedAt\": null,\n            \"deletedAt\": null,\n       \
                    \     \"metadata\": null\n         },\n         \"recipient\"\
                    : {\n            \"id\": \"80e579ff-e3a6-4573-84ff-30de777e7861\"\
                    ,\n            \"code\": \"a1fc515c-ce4a-45e0-8802-2696b2c0337a\"\
                    ,\n            \"name\": \"Bruce Wayne\",\n            \"taxId\"\
                    : \"37515868066\",\n            \"type\": \"INDIVIDUAL\",\n  \
                    \          \"status\": \"ACTIVE\",\n            \"createdAt\"\
                    : \"2022-06-08T15:02:00Z\",\n            \"updatedAt\": null,\n\
                    \            \"deletedAt\": null,\n            \"metadata\": null\n\
                    \         },\n         \"metadata\": {\n         \t\t\"CUSTOM_FIELD_NAME\"\
                    : \"CUSTOM_FIELD_VALUE\"\n         }\n      }\n   ],\n   \"paging\"\
                    : {\n      \"before\": \"\",\n      \"after\": \"aWQ6YzYyZjViNTAtZTNiOS0xMWVjLTk0OWEtNjFkMjljNjZlMmNm\"\
                    \n   }\n}"
              schema:
                $ref: '#/components/schemas/RecipientListWithdrawalsResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/RecipientListWithdrawals400Response'
          description: "400"
          x-do-not-generate: true
      summary: List all Withdrawals
      tags:
      - Recipient
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--recipients-recipientId-withdrawals
      x-accepts: application/json
    post:
      deprecated: false
      description: ""
      operationId: Recipient_createWithdrawal
      parameters:
      - explode: false
        in: path
        name: recipientId
        required: true
        schema:
          default: DEFAULT
          example: DEFAULT
          type: string
          x-konfig-original-example: DEFAULT
          x-konfig-generated-schema: konfig-generated-schema-paths--recipients-recipientId-withdrawals-post-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecipientCreateWithdrawalRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": \"86cfd98a-dcc5-4b67-b8d7-841e4a9f37fd\",\n\
                    \  \"code\": \"45447b68-09fc-4af9-be82-d7b4df00fc3b\",\n  \"amount\"\
                    : 990,\n  \"method\": \"PIX\",\n  \"status\": \"PROCESSED\",\n\
                    \  \"createdAt\": \"2022-06-06T11:48:21Z\",\n  \"approvedAt\"\
                    : \"2022-06-06T11:48:21Z\",\n  \"rejectedAt\": null,\n  \"processedAt\"\
                    : \"2022-06-06T11:48:21Z\",\n  \"paidAt\": null,\n  \"failedAt\"\
                    : null,\n  \"pixKey\": null,\n  \"bankAccount\": {\n    \"id\"\
                    : \"a8a9c988-c2ba-44b9-af2d-ee6fcc00e269\",\n    \"code\": \"\
                    ade39877-cb26-42bc-b151-8e6eef84284d\",\n    \"holderName\": \"\
                    Bruce Wayne\",\n    \"holderTaxId\": \"37515868066\",\n    \"\
                    holderType\": \"INDIVIDUAL\",\n    \"branchNumber\": \"0001\"\
                    ,\n    \"accountNumber\": \"11111-1\",\n    \"bankId\": \"60701190\"\
                    ,\n    \"status\": \"ACTIVE\",\n    \"createdAt\": \"2022-06-06T11:48:21Z\"\
                    ,\n    \"updatedAt\": null,\n    \"deletedAt\": null,\n    \"\
                    metadata\": null\n  },\n  \"recipient\": {\n    \"id\": \"80e579ff-e3a6-4573-84ff-30de777e7861\"\
                    ,\n    \"code\": \"a1fc515c-ce4a-45e0-8802-2696b2c0337a\",\n \
                    \   \"name\": \"Bruce Wayne\",\n    \"taxId\": \"37515868066\"\
                    ,\n    \"type\": \"INDIVIDUAL\",\n    \"status\": \"ACTIVE\",\n\
                    \    \"createdAt\": \"2022-06-08T15:02:00Z\",\n    \"updatedAt\"\
                    : null,\n    \"deletedAt\": null,\n    \"metadata\": null\n  },\n\
                    \  \"metadata\": {\n  \t\"CUSTOM_FIELD_NAME\": \"CUSTOM_FIELD_VALUE\"\
                    \n  }\n}"
              schema:
                $ref: '#/components/schemas/RecipientCreateWithdrawalResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/RecipientCreateWithdrawal400Response'
          description: "400"
          x-do-not-generate: true
      summary: Create a Withdrawal
      tags:
      - Recipient
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--recipients-recipientId-withdrawals
      x-content-type: application/json
      x-accepts: application/json
  /recipients/{recipientId}/withdrawals/{withdrawalId}:
    get:
      deprecated: false
      description: ""
      operationId: Recipient_getWithdrawalById
      parameters:
      - explode: false
        in: path
        name: recipientId
        required: true
        schema:
          default: DEFAULT
          example: DEFAULT
          type: string
          x-konfig-original-example: DEFAULT
          x-konfig-generated-schema: konfig-generated-schema-paths--recipients-recipientId-withdrawals-withdrawalId-get-parameters-0-schema
        style: simple
      - explode: false
        in: path
        name: withdrawalId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": \"86cfd98a-dcc5-4b67-b8d7-841e4a9f37fd\",\n\
                    \  \"code\": \"45447b68-09fc-4af9-be82-d7b4df00fc3b\",\n  \"amount\"\
                    : 990,\n  \"method\": \"PIX\",\n  \"status\": \"PAID\",\n  \"\
                    createdAt\": \"2022-06-06T11:48:21Z\",\n  \"approvedAt\": \"2022-06-06T11:48:21Z\"\
                    ,\n  \"rejectedAt\": null,\n  \"paidAt\": \"2022-06-06T11:48:21Z\"\
                    ,\n  \"failedAt\": null,\n  \"pixKey\": null,\n  \"bankAccount\"\
                    : {\n    \"id\": \"a8a9c988-c2ba-44b9-af2d-ee6fcc00e269\",\n \
                    \   \"code\": \"ade39877-cb26-42bc-b151-8e6eef84284d\",\n    \"\
                    holderName\": \"Bruce Wayne\",\n    \"holderTaxId\": \"37515868066\"\
                    ,\n    \"holderType\": \"INDIVIDUAL\",\n    \"branchNumber\":\
                    \ \"0001\",\n    \"accountNumber\": \"11111-1\",\n    \"bankId\"\
                    : \"60701190\",\n    \"status\": \"ACTIVE\",\n    \"createdAt\"\
                    : \"2022-06-06T11:48:21Z\",\n    \"updatedAt\": null,\n    \"\
                    deletedAt\": null,\n    \"metadata\": null\n  },\n  \"recipient\"\
                    : {\n    \"id\": \"80e579ff-e3a6-4573-84ff-30de777e7861\",\n \
                    \   \"code\": \"a1fc515c-ce4a-45e0-8802-2696b2c0337a\",\n    \"\
                    name\": \"Bruce Wayne\",\n    \"taxId\": \"37515868066\",\n  \
                    \  \"type\": \"INDIVIDUAL\",\n    \"status\": \"ACTIVE\",\n  \
                    \  \"createdAt\": \"2022-06-08T15:02:00Z\",\n    \"updatedAt\"\
                    : null,\n    \"deletedAt\": null,\n    \"metadata\": null\n  },\n\
                    \  \"metadata\": {\n  \t\"CUSTOM_FIELD_NAME\": \"CUSTOM_FIELD_VALUE\"\
                    \n  }\n}"
              schema:
                $ref: '#/components/schemas/RecipientGetWithdrawalByIdResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/RecipientGetWithdrawalById400Response'
          description: "400"
          x-do-not-generate: true
      summary: Retrieve a Withdrawal
      tags:
      - Recipient
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--recipients-recipientId-withdrawals-withdrawalId
      x-accepts: application/json
  /recipients/{recipientId}/balance:
    get:
      deprecated: false
      description: ""
      operationId: Recipient_getBalance
      parameters:
      - explode: false
        in: path
        name: recipientId
        required: true
        schema:
          default: DEFAULT
          example: DEFAULT
          type: string
          x-konfig-original-example: DEFAULT
          x-konfig-generated-schema: konfig-generated-schema-paths--recipients-recipientId-balance-get-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/RecipientGetBalanceResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/RecipientGetBalance400Response'
          description: "400"
          x-do-not-generate: true
      summary: Get Balance
      tags:
      - Recipient
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--recipients-recipientId-balance
      x-accepts: application/json
  /recipients/{recipientId}/transactions:
    get:
      deprecated: false
      description: ""
      operationId: Recipient_listTransactions
      parameters:
      - explode: false
        in: path
        name: recipientId
        required: true
        schema:
          default: DEFAULT
          example: DEFAULT
          type: string
          x-konfig-original-example: DEFAULT
          x-konfig-generated-schema: konfig-generated-schema-paths--recipients-recipientId-transactions-get-parameters-0-schema
        style: simple
      - description: "A limit on the number of objects to be returned, between 1 and\
          \ 50."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: "10"
          example: "10"
          type: string
          x-konfig-original-example: "10"
          x-konfig-generated-schema: konfig-generated-schema-paths--recipients-recipientId-transactions-get-parameters-1-schema
        style: form
      - description: "A cursor for use in pagination. ```before``` is an object ID\
          \ that defines your place in the list. For instance, if you make a list\
          \ request and receive 50 objects, starting with ```obj_bar```, your subsequent\
          \ call can include ```before=obj_bar``` in order to fetch the previous page\
          \ of the list."
        explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - description: "A cursor for use in pagination. after is an object ID that defines\
          \ your place in the list. For instance, if you make a list request and receive\
          \ 50 objects, ending with obj_foo, your subsequent call can include after=obj_foo\
          \ in order to fetch the next page of the list."
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/RecipientListTransactionsResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/RecipientListTransactions400Response'
          description: "400"
          x-do-not-generate: true
      summary: List all Transactions
      tags:
      - Recipient
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--recipients-recipientId-transactions
      x-accepts: application/json
  /webhooks/{id}/attempts:
    post:
      deprecated: false
      description: ""
      operationId: Webhook_resendAttempt
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                       "id": "89f4209f-b574-4582-86b6-98584b4f65ef",
                       "event": "payment.paid",
                       "object": {
                          "id": "b6d9473e-5612-4a51-a854-d1d9f62e60e0",
                          "type": "BankTransferPayment"
                       },
                       "signature": "e91aa3f03c7699db37e070ad4224a15c7b39dd383d2b0aef6f270f0a10d42772",
                       "responses": [
                         {
                           "code": 200,
                           "time": 289,
                           "at": "2022-06-06T11:49:03Z"
                         }
                       ],
                       "data": {
                          "id": "96f42ef0-00b1-11ed-bb3a-098b2c4afa72",
                          "code": "ffa16dae-ac66-4830-8984-171f306ca8d7",
                          "transactionId": "E00416968202207061808Ymqobao0YFb",
                          "amount": 1990,
                          "paidAmount": 1990,
                          "method": "BANK_TRANSFER",
                          "status": "PAID",
                          "createdAt": "2022-07-11T00:37:06.009Z",
                          "processedAt": "2022-07-11T00:37:06.116Z",
                          "paidAt": "2022-07-06T00:00:00.000Z",
                          "failedAt": null,
                          "split": [],
                          "payer":{
                             "name": "Bruce Wayne",
                             "taxId": "13703591013"
                          },
                          "source": {
                             "bankName": "ITAÚ UNIBANCO S.A.",
                             "branchNumber": "1",
                             "accountNumber": "99999"
                          },
                          "destination": {
                             "bankName": "NU PAGAMENTOS S.A.",
                             "branchNumber": "1",
                             "accountNumber": "199060"
                          }
                       },
                      "status": "DELIVERED",
                      "createdAt": "2022-06-06T11:48:21Z",
                      "queuedAt": "2022-06-06T11:48:22Z",
                      "deliveredAt": "2022-06-06T11:49:03Z",
                      "failedAt": null,
                      "lastAttemptAt": "2022-06-06T11:49:01Z",
                      "nextAttemptAt": null,
                      "endpointId": "33d8034f-6e13-4d15-b1b4-d88fcced590d",
                      "organizationId": "bd0b3148-8772-4854-8a97-be409ed1ffa8"
                    }
              schema:
                $ref: '#/components/schemas/WebhookResendAttemptResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/WebhookResendAttempt400Response'
          description: "400"
          x-do-not-generate: true
      summary: Resend a Webhook
      tags:
      - Webhook
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--webhooks-id-attempts
      x-accepts: application/json
  /webhooks/{id}:
    get:
      deprecated: false
      description: ""
      operationId: Webhook_get
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                       "id": "89f4209f-b574-4582-86b6-98584b4f65ef",
                       "event": "payment.paid",
                       "object": {
                          "id": "b6d9473e-5612-4a51-a854-d1d9f62e60e0",
                          "type": "BankTransferPayment"
                       },
                       "signature": "e91aa3f03c7699db37e070ad4224a15c7b39dd383d2b0aef6f270f0a10d42772",
                       "responses": [
                         {
                           "code": 200,
                           "time": 289,
                           "at": "2022-06-06T11:49:03Z"
                         }
                       ],
                       "data": {
                          "id": "96f42ef0-00b1-11ed-bb3a-098b2c4afa72",
                          "code": "ffa16dae-ac66-4830-8984-171f306ca8d7",
                          "transactionId": "E00416968202207061808Ymqobao0YFb",
                          "amount": 1990,
                          "paidAmount": 1990,
                          "method": "BANK_TRANSFER",
                          "status": "PAID",
                          "createdAt": "2022-07-11T00:37:06.009Z",
                          "processedAt": "2022-07-11T00:37:06.116Z",
                          "paidAt": "2022-07-06T00:00:00.000Z",
                          "failedAt": null,
                          "split": [],
                          "payer":{
                             "name": "Bruce Wayne",
                             "taxId": "13703591013"
                          },
                          "source": {
                             "bankName": "ITAÚ UNIBANCO S.A.",
                             "branchNumber": "1",
                             "accountNumber": "99999"
                          },
                          "destination": {
                             "bankName": "NU PAGAMENTOS S.A.",
                             "branchNumber": "1",
                             "accountNumber": "199060"
                          }
                       },
                      "status": "DELIVERED",
                      "createdAt": "2022-06-06T11:48:21Z",
                      "queuedAt": "2022-06-06T11:48:22Z",
                      "deliveredAt": "2022-06-06T11:49:03Z",
                      "failedAt": null,
                      "lastAttemptAt": "2022-06-06T11:49:01Z",
                      "nextAttemptAt": null,
                      "endpointId": "33d8034f-6e13-4d15-b1b4-d88fcced590d",
                      "organizationId": "bd0b3148-8772-4854-8a97-be409ed1ffa8"
                    }
              schema:
                $ref: '#/components/schemas/WebhookGetResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/WebhookGet400Response'
          description: "400"
          x-do-not-generate: true
      summary: Retrieve a Webhook
      tags:
      - Webhook
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--webhooks-id
      x-accepts: application/json
  /webhooks:
    get:
      deprecated: false
      description: ""
      operationId: Webhook_listAll
      parameters:
      - explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - PENDING
          - QUEUED
          - DELIVERED
          - FAILED
          type: string
        style: form
      - explode: true
        in: query
        name: event
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: endpointId
        required: false
        schema:
          type: string
        style: form
      - description: "A limit on the number of objects to be returned, between 1 and\
          \ 50."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          example: 10
          format: int32
          type: integer
          x-konfig-original-example: 10
          x-konfig-generated-schema: konfig-generated-schema-paths--webhooks-get-parameters-3-schema
        style: form
      - description: "A cursor for use in pagination. ```before``` is an object ID\
          \ that defines your place in the list. For instance, if you make a list\
          \ request and receive 50 objects, starting with ```obj_bar```, your subsequent\
          \ call can include ```before=obj_bar``` in order to fetch the previous page\
          \ of the list."
        explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - description: "A cursor for use in pagination. after is an object ID that defines\
          \ your place in the list. For instance, if you make a list request and receive\
          \ 50 objects, ending with obj_foo, your subsequent call can include after=obj_foo\
          \ in order to fetch the next page of the list."
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                       "data": [
                          {
                           "id": "89f4209f-b574-4582-86b6-98584b4f65ef",
                           "event": "payment.paid",
                           "object": {
                              "id": "b6d9473e-5612-4a51-a854-d1d9f62e60e0",
                              "type": "BankTransferPayment"
                           },
                           "signature": "e91aa3f03c7699db37e070ad4224a15c7b39dd383d2b0aef6f270f0a10d42772",
                           "responses": [
                             {
                               "code": 200,
                               "time": 289,
                               "at": "2022-06-06T11:49:03Z"
                             }
                           ],
                           "data": {
                              "id": "96f42ef0-00b1-11ed-bb3a-098b2c4afa72",
                              "code": "ffa16dae-ac66-4830-8984-171f306ca8d7",
                              "transactionId": "E00416968202207061808Ymqobao0YFb",
                              "amount": 1990,
                              "paidAmount": 1990,
                              "method": "BANK_TRANSFER",
                              "status": "PAID",
                              "createdAt": "2022-07-11T00:37:06.009Z",
                              "processedAt": "2022-07-11T00:37:06.116Z",
                              "paidAt": "2022-07-06T00:00:00.000Z",
                              "failedAt": null,
                              "split": [],
                              "payer":{
                                 "name": "Bruce Wayne",
                                 "taxId": "13703591013"
                              },
                              "source": {
                                 "bankName": "ITAÚ UNIBANCO S.A.",
                                 "branchNumber": "1",
                                 "accountNumber": "99999"
                              },
                              "destination": {
                                 "bankName": "NU PAGAMENTOS S.A.",
                                 "branchNumber": "1",
                                 "accountNumber": "199060"
                              }
                           },
                          "status": "DELIVERED",
                          "createdAt": "2022-06-06T11:48:21Z",
                          "queuedAt": "2022-06-06T11:48:22Z",
                          "deliveredAt": "2022-06-06T11:49:03Z",
                          "failedAt": null,
                          "lastAttemptAt": "2022-06-06T11:49:01Z",
                          "nextAttemptAt": null,
                          "endpointId": "33d8034f-6e13-4d15-b1b4-d88fcced590d",
                          "organizationId": "bd0b3148-8772-4854-8a97-be409ed1ffa8"
                        }
                       ],
                       "paging": {
                          "before": "",
                          "after": "aWQ6YzYyZjViNTAtZTNiOS0xMWVjLTk0OWEtNjFkMjljNjZlMmNm"
                       }
                    }
              schema:
                $ref: '#/components/schemas/WebhookListAllResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/WebhookListAll400Response'
          description: "400"
          x-do-not-generate: true
      summary: List all Webhooks
      tags:
      - Webhook
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--webhooks
      x-accepts: application/json
components:
  schemas:
    TokenGenerateAccessTokenRequest:
      example:
        refreshToken: refreshToken
      properties:
        refreshToken:
          description: "The Refresh Token is used to get a new Access Token, when\
            \ the old one expires."
          type: string
      required:
      - refreshToken
      type: object
    QrCodeGenerateQrCodeRequest:
      example:
        amount: 0
        metadata:
        - name: name
          value: value
        - name: name
          value: value
        code: code
        split:
        - recipientId: recipientId
          value: 6
        - recipientId: recipientId
          value: 6
        payer:
          taxId: taxId
          name: name
      properties:
        code:
          description: Unique identifier for the object in your system.
          type: string
        amount:
          description: Amount in cents to be paid.
          format: int32
          type: integer
        payer:
          $ref: '#/components/schemas/QrCodeGenerateQrCodeRequest_payer'
        split:
          description: This object represents a list of recipients who will receive
            part of the payment.
          items:
            $ref: '#/components/schemas/QrCodeGenerateQrCodeRequest_split_inner'
          type: array
        metadata:
          description: Set of key-value pairs that you can attach to an object. This
            can be useful for storing additional information about the object in a
            structured format.
          items:
            $ref: '#/components/schemas/QrCodeGenerateQrCodeRequest_metadata_inner'
          type: array
      required:
      - amount
      type: object
    ItpCreatePaymentInstructionRequest:
      example:
        amount: 0
        metadata:
        - name: name
          value: value
        - name: name
          value: value
        code: code
        split:
        - recipientId: recipientId
          value: 6
        - recipientId: recipientId
          value: 6
        payer:
          taxId: taxId
          name: name
      properties:
        code:
          description: Unique identifier for the object in your system.
          type: string
        amount:
          description: Amount in cents to be paid.
          format: int32
          type: integer
        payer:
          $ref: '#/components/schemas/QrCodeGenerateQrCodeRequest_payer'
        split:
          description: This object represents a list of recipients who will receive
            part of the payment.
          items:
            $ref: '#/components/schemas/QrCodeGenerateQrCodeRequest_split_inner'
          type: array
        metadata:
          description: Set of key-value pairs that you can attach to an object. This
            can be useful for storing additional information about the object in a
            structured format.
          items:
            $ref: '#/components/schemas/QrCodeGenerateQrCodeRequest_metadata_inner'
          type: array
      required:
      - amount
      - payer
      type: object
    RecipientCreateRecipientRequest:
      example:
        metadata:
        - name: name
          value: value
        - name: name
          value: value
        code: code
        taxId: taxId
        name: name
        type: INDIVIDUAL
      properties:
        code:
          description: Unique identifier for the object in your system.
          type: string
        name:
          description: The name of the recipient.
          type: string
        taxId:
          description: The tax ID of the recipient (CPF for individual recipients
            or CNPJ for businesses recipients).
          type: string
        type:
          description: The type of the recipient.
          enum:
          - INDIVIDUAL
          - COMPANY
          type: string
        metadata:
          description: Set of key-value pairs that you can attach to an object. This
            can be useful for storing additional information about the object in a
            structured format.
          items:
            $ref: '#/components/schemas/QrCodeGenerateQrCodeRequest_metadata_inner'
          type: array
      required:
      - name
      - taxId
      - type
      type: object
    RecipientCreateBankAccountRequest:
      example:
        holderName: holderName
        bankId: bankId
        branchNumber: branchNumber
        holderTaxId: holderTaxId
        type: CHECKING
        accountNumber: accountNumber
        holderType: INDIVIDUAL
      properties:
        type:
          default: CHECKING
          description: The type of bank account. Can be CHEKING or SAVINGS.
          enum:
          - CHECKING
          - SAVINGS
          example: CHECKING
          type: string
          x-konfig-original-example: CHECKING
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-RecipientCreateBankAccountRequest-properties-type
        holderName:
          description: The name of the person or business that owns the bank account.
          type: string
        holderTaxId:
          description: The tax ID of the account holder (CPF for individual account
            holders or CNPJ for businesses account holders).
          type: string
        holderType:
          description: The type of entity that holds the account. Can be INDIVIDUAL
            or COMPANY.
          enum:
          - INDIVIDUAL
          - COMPANY
          type: string
        branchNumber:
          type: string
        accountNumber:
          type: string
        bankId:
          description: The ID of the bank associated with the account.
          type: string
      required:
      - accountNumber
      - bankId
      - branchNumber
      - holderName
      - holderTaxId
      - holderType
      type: object
    RecipientCreateWithdrawalRequest:
      example:
        bankAccount:
          holderName: holderName
          bankId: bankId
          branchNumber: branchNumber
          holderTaxId: holderTaxId
          type: CHECKING
          accountNumber: accountNumber
          holderType: INDIVIDUAL
        amount: 0
        metadata:
        - name: name
          value: value
        - name: name
          value: value
        code: code
        method: STANDARD
        bankAccountId: bankAccountId
        pixKey: pixKey
      properties:
        code:
          description: Unique identifier for the object in your system.
          type: string
        amount:
          description: Amount in cents to be transferred.
          format: int32
          type: integer
        method:
          description: The method of the withdrawal.
          enum:
          - STANDARD
          - PIX
          type: string
        pixKey:
          description: The PIX key of the destination bank account. Required if method
            is PIX
          type: string
        bankAccount:
          $ref: '#/components/schemas/RecipientCreateWithdrawalRequest_bankAccount'
        bankAccountId:
          description: The ID of the destination bank account. Required if method
            is STANDARD.
          type: string
        metadata:
          description: Set of key-value pairs that you can attach to an object. This
            can be useful for storing additional information about the object in a
            structured format.
          items:
            $ref: '#/components/schemas/QrCodeGenerateQrCodeRequest_metadata_inner'
          type: array
      required:
      - amount
      - method
      type: object
    TokenGenerateAccessTokenResponse:
      example:
        expiresIn: 3600
        type: Bearer
        token: eyJraWQiOiJwb1NPeDI0VHRmbDZCYjdaZ3RcL296WGpqUzMrTVlkYTNScXdON1dVSXJkbz0iLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiIyZjE5MDk0Mi1jMjY5LTQxMjQtOTNkNy01YTdmYTkwMTQ0YzkiLCJpc3MiOiJodHRwczpcL1wvY29nbml0by1pZHAuc2EtZWFzdC0xLmFtYXpvbmF3cy5jb21cL3NhLWVhc3QtMV82eWdMcFJLMGUiLCJjbGllbnRfaWQiOiIyNXQwOGxwaHYwN2IzZnZqZ2FqcTNsczFrcCIsIm9yaWdpbl9qdGkiOiIzZWZjODY1Yi01MzU2LTQwNWMtOTQxYy1iNmExM2I3ODFhNWYiLCJldmVudF9pZCI6ImMyMTM1NjgzLWY3YTUtNGMxYy04MzUzLWM3MTUyNmQ2NDU5YyIsInRva2VuX3VzZSI6ImFjY2VzcyIsInNjb3BlIjoiYXdzLmNvZ25pdG8uc2lnbmluLnVzZXIuYWRtaW4iLCJhdXRoX3RpbWUiOjE2NTQ4MTY3OTgsImV4cCI6MTY1NDgyMDUyNCwiaWF0IjoxNjU0ODE2OTI0LCJqdGkiOiI2ZmVhODZiNC1kNDVmLTRhOGQtYjEwYi1iOWRhNzkzODQyZmQiLCJ1c2VybmFtZSI6ImNhcmxvc3BlY2FuaGEyQG91dGxvb2suY29tIn0.PfKd8rpnq9xPO3IwSRkDuBDx0VjN41ABKvm0xIybNCxWh5N1b7HZsTPxjh6GiDoHWYnr8_HCzXqk0MQXYHt7ybHKIFPKqOaA4VpBrb-WaazwSAGdTJFt3grZb4KP-ab2gKaYMji9x1l_SDAaEU-frEHErOnJwyMPi1dn2pZAKJMp4p7IIctwYTFITokP4Lqn7amy_PHlsXoNlUPV0BoNBrFFq-sp22NXSdDtIsdSkyRlGqlOHNTd2zMNqqKCFx3lBt1dPfm6gPvx_mwlOiT0icAXwUOsXxi22P5HgEoh3HJw2NneP9xC8Mw1BQvhBdmfnmANQzIHWkFfBMCQo3xF5w
      properties:
        token:
          example: eyJraWQiOiJwb1NPeDI0VHRmbDZCYjdaZ3RcL296WGpqUzMrTVlkYTNScXdON1dVSXJkbz0iLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiIyZjE5MDk0Mi1jMjY5LTQxMjQtOTNkNy01YTdmYTkwMTQ0YzkiLCJpc3MiOiJodHRwczpcL1wvY29nbml0by1pZHAuc2EtZWFzdC0xLmFtYXpvbmF3cy5jb21cL3NhLWVhc3QtMV82eWdMcFJLMGUiLCJjbGllbnRfaWQiOiIyNXQwOGxwaHYwN2IzZnZqZ2FqcTNsczFrcCIsIm9yaWdpbl9qdGkiOiIzZWZjODY1Yi01MzU2LTQwNWMtOTQxYy1iNmExM2I3ODFhNWYiLCJldmVudF9pZCI6ImMyMTM1NjgzLWY3YTUtNGMxYy04MzUzLWM3MTUyNmQ2NDU5YyIsInRva2VuX3VzZSI6ImFjY2VzcyIsInNjb3BlIjoiYXdzLmNvZ25pdG8uc2lnbmluLnVzZXIuYWRtaW4iLCJhdXRoX3RpbWUiOjE2NTQ4MTY3OTgsImV4cCI6MTY1NDgyMDUyNCwiaWF0IjoxNjU0ODE2OTI0LCJqdGkiOiI2ZmVhODZiNC1kNDVmLTRhOGQtYjEwYi1iOWRhNzkzODQyZmQiLCJ1c2VybmFtZSI6ImNhcmxvc3BlY2FuaGEyQG91dGxvb2suY29tIn0.PfKd8rpnq9xPO3IwSRkDuBDx0VjN41ABKvm0xIybNCxWh5N1b7HZsTPxjh6GiDoHWYnr8_HCzXqk0MQXYHt7ybHKIFPKqOaA4VpBrb-WaazwSAGdTJFt3grZb4KP-ab2gKaYMji9x1l_SDAaEU-frEHErOnJwyMPi1dn2pZAKJMp4p7IIctwYTFITokP4Lqn7amy_PHlsXoNlUPV0BoNBrFFq-sp22NXSdDtIsdSkyRlGqlOHNTd2zMNqqKCFx3lBt1dPfm6gPvx_mwlOiT0icAXwUOsXxi22P5HgEoh3HJw2NneP9xC8Mw1BQvhBdmfnmANQzIHWkFfBMCQo3xF5w
          type: string
          x-konfig-original-example: eyJraWQiOiJwb1NPeDI0VHRmbDZCYjdaZ3RcL296WGpqUzMrTVlkYTNScXdON1dVSXJkbz0iLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiIyZjE5MDk0Mi1jMjY5LTQxMjQtOTNkNy01YTdmYTkwMTQ0YzkiLCJpc3MiOiJodHRwczpcL1wvY29nbml0by1pZHAuc2EtZWFzdC0xLmFtYXpvbmF3cy5jb21cL3NhLWVhc3QtMV82eWdMcFJLMGUiLCJjbGllbnRfaWQiOiIyNXQwOGxwaHYwN2IzZnZqZ2FqcTNsczFrcCIsIm9yaWdpbl9qdGkiOiIzZWZjODY1Yi01MzU2LTQwNWMtOTQxYy1iNmExM2I3ODFhNWYiLCJldmVudF9pZCI6ImMyMTM1NjgzLWY3YTUtNGMxYy04MzUzLWM3MTUyNmQ2NDU5YyIsInRva2VuX3VzZSI6ImFjY2VzcyIsInNjb3BlIjoiYXdzLmNvZ25pdG8uc2lnbmluLnVzZXIuYWRtaW4iLCJhdXRoX3RpbWUiOjE2NTQ4MTY3OTgsImV4cCI6MTY1NDgyMDUyNCwiaWF0IjoxNjU0ODE2OTI0LCJqdGkiOiI2ZmVhODZiNC1kNDVmLTRhOGQtYjEwYi1iOWRhNzkzODQyZmQiLCJ1c2VybmFtZSI6ImNhcmxvc3BlY2FuaGEyQG91dGxvb2suY29tIn0.PfKd8rpnq9xPO3IwSRkDuBDx0VjN41ABKvm0xIybNCxWh5N1b7HZsTPxjh6GiDoHWYnr8_HCzXqk0MQXYHt7ybHKIFPKqOaA4VpBrb-WaazwSAGdTJFt3grZb4KP-ab2gKaYMji9x1l_SDAaEU-frEHErOnJwyMPi1dn2pZAKJMp4p7IIctwYTFITokP4Lqn7amy_PHlsXoNlUPV0BoNBrFFq-sp22NXSdDtIsdSkyRlGqlOHNTd2zMNqqKCFx3lBt1dPfm6gPvx_mwlOiT0icAXwUOsXxi22P5HgEoh3HJw2NneP9xC8Mw1BQvhBdmfnmANQzIHWkFfBMCQo3xF5w
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-TokenGenerateAccessTokenResponse-properties-token
        expiresIn:
          default: 0
          example: 3600
          type: integer
          x-konfig-original-example: 3600
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-TokenGenerateAccessTokenResponse-properties-expiresIn
        type:
          example: Bearer
          type: string
          x-konfig-original-example: Bearer
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-TokenGenerateAccessTokenResponse-properties-type
      type: object
      x-konfig-is-used-in-successful-response: true
    TokenGenerateAccessToken400Response:
      properties: {}
      type: object
      x-konfig-is-used-in-non-successful-response: true
      x-do-not-generate: true
    QrCodeListAllResponse:
      example:
        data:
        - amount: 4990
          metadata:
          - name: CUSTOM_FIELD_NAME
            value: CUSTOM_FIELD_VALUE
          - name: CUSTOM_FIELD_NAME
            value: CUSTOM_FIELD_VALUE
          code: 804a46a7-7012-4159-8782-1090e85e4afa
          type: STATIC
          payer:
            taxId: "37515868066"
            name: Bruce Wayne
          createdAt: 2022-06-06T11:48:21Z
          failedAt: ""
          split:
          - recipientId: 009cb956-3b58-4731-927f-20225600b35b
            value: 990
          - recipientId: 009cb956-3b58-4731-927f-20225600b35b
            value: 990
          payload: 00020126580014BR.GOV.BCB.PIX01368ad59cd0-cd85-45eb-a443-b8824285c5f352040000530398654041.295802BR5924RPO
            GESTAO DE PAGAMENTOS6008SO PAULO6108000000006224052046193bc0333a468fa1ee6304A3E1
          processedAt: 2022-06-06T11:48:26Z
          paidAt: ""
          id: 6a0b14a9-023c-4198-9ada-6e4684213340
          paidAmount: ""
          status: PROCESSED
        - amount: 4990
          metadata:
          - name: CUSTOM_FIELD_NAME
            value: CUSTOM_FIELD_VALUE
          - name: CUSTOM_FIELD_NAME
            value: CUSTOM_FIELD_VALUE
          code: 804a46a7-7012-4159-8782-1090e85e4afa
          type: STATIC
          payer:
            taxId: "37515868066"
            name: Bruce Wayne
          createdAt: 2022-06-06T11:48:21Z
          failedAt: ""
          split:
          - recipientId: 009cb956-3b58-4731-927f-20225600b35b
            value: 990
          - recipientId: 009cb956-3b58-4731-927f-20225600b35b
            value: 990
          payload: 00020126580014BR.GOV.BCB.PIX01368ad59cd0-cd85-45eb-a443-b8824285c5f352040000530398654041.295802BR5924RPO
            GESTAO DE PAGAMENTOS6008SO PAULO6108000000006224052046193bc0333a468fa1ee6304A3E1
          processedAt: 2022-06-06T11:48:26Z
          paidAt: ""
          id: 6a0b14a9-023c-4198-9ada-6e4684213340
          paidAmount: ""
          status: PROCESSED
        paging:
          before: ""
          after: aWQ6YzYyZjViNTAtZTNiOS0xMWVjLTk0OWEtNjFkMjljNjZlMmNm
      properties:
        data:
          items:
            $ref: '#/components/schemas/QrCodeListAllResponse_data_inner'
          type: array
        paging:
          $ref: '#/components/schemas/QrCodeListAllResponse_paging'
      type: object
      x-konfig-is-used-in-successful-response: true
    QrCodeListAll400Response:
      properties: {}
      type: object
      x-konfig-is-used-in-non-successful-response: true
      x-do-not-generate: true
    QrCodeGenerateQrCodeResponse:
      example:
        amount: 4990
        metadata:
        - name: CUSTOM_FIELD_NAME
          value: CUSTOM_FIELD_VALUE
        - name: CUSTOM_FIELD_NAME
          value: CUSTOM_FIELD_VALUE
        code: 804a46a7-7012-4159-8782-1090e85e4afa
        type: STATIC
        payer:
          taxId: "37515868066"
          name: Bruce Wayne
        createdAt: 2022-06-06T11:48:21Z
        failedAt: ""
        split:
        - recipientId: 009cb956-3b58-4731-927f-20225600b35b
          value: 990
        - recipientId: 009cb956-3b58-4731-927f-20225600b35b
          value: 990
        payload: 00020126580014BR.GOV.BCB.PIX01368ad59cd0-cd85-45eb-a443-b8824285c5f352040000530398654041.295802BR5924RPO
          GESTAO DE PAGAMENTOS6008SO PAULO6108000000006224052046193bc0333a468fa1ee6304A3E1
        processedAt: 2022-06-06T11:48:26Z
        paidAt: ""
        id: 6a0b14a9-023c-4198-9ada-6e4684213340
        paidAmount: ""
        status: PROCESSED
      properties:
        id:
          example: 6a0b14a9-023c-4198-9ada-6e4684213340
          type: string
          x-konfig-original-example: 6a0b14a9-023c-4198-9ada-6e4684213340
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-QrCodeGenerateQrCodeResponse-properties-id
        code:
          example: 804a46a7-7012-4159-8782-1090e85e4afa
          type: string
          x-konfig-original-example: 804a46a7-7012-4159-8782-1090e85e4afa
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-QrCodeGenerateQrCodeResponse-properties-code
        type:
          example: STATIC
          type: string
          x-konfig-original-example: STATIC
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-QrCodeGenerateQrCodeResponse-properties-type
        amount:
          default: 0
          example: 4990
          type: integer
          x-konfig-original-example: 4990
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-QrCodeGenerateQrCodeResponse-properties-amount
        paidAmount: {}
        payload:
          example: 00020126580014BR.GOV.BCB.PIX01368ad59cd0-cd85-45eb-a443-b8824285c5f352040000530398654041.295802BR5924RPO
            GESTAO DE PAGAMENTOS6008SO PAULO6108000000006224052046193bc0333a468fa1ee6304A3E1
          type: string
          x-konfig-original-example: 00020126580014BR.GOV.BCB.PIX01368ad59cd0-cd85-45eb-a443-b8824285c5f352040000530398654041.295802BR5924RPO
            GESTAO DE PAGAMENTOS6008SO PAULO6108000000006224052046193bc0333a468fa1ee6304A3E1
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-QrCodeGenerateQrCodeResponse-properties-payload
        payer:
          $ref: '#/components/schemas/QrCodeGenerateQrCodeResponse_payer'
        split:
          items:
            $ref: '#/components/schemas/QrCodeGenerateQrCodeResponse_split_inner'
          type: array
        status:
          example: PROCESSED
          type: string
          x-konfig-original-example: PROCESSED
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-QrCodeGenerateQrCodeResponse-properties-status
        createdAt:
          example: 2022-06-06T11:48:21Z
          type: string
          x-konfig-original-example: 2022-06-06T11:48:21Z
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-QrCodeGenerateQrCodeResponse-properties-createdAt
        processedAt:
          example: 2022-06-06T11:48:26Z
          type: string
          x-konfig-original-example: 2022-06-06T11:48:26Z
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-QrCodeGenerateQrCodeResponse-properties-processedAt
        paidAt: {}
        failedAt: {}
        metadata:
          items:
            $ref: '#/components/schemas/QrCodeGenerateQrCodeResponse_metadata_inner'
          type: array
      type: object
      x-konfig-is-used-in-successful-response: true
    QrCodeGenerateQrCode400Response:
      properties:
        code:
          example: INVALID_BODY
          type: string
          x-konfig-original-example: INVALID_BODY
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-QrCodeGenerateQrCode400Response-properties-code
        message:
          example: "Invalid body, check 'errors' property for more info."
          type: string
          x-konfig-original-example: "Invalid body, check 'errors' property for more\
            \ info."
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-QrCodeGenerateQrCode400Response-properties-message
        errors:
          items:
            example: amount must be a positive number
            type: string
            x-konfig-original-example: amount must be a positive number
            x-konfig-generated-schema: konfig-generated-schema-components-schemas-QrCodeGenerateQrCode400Response-properties-errors-items
          type: array
      type: object
      x-konfig-is-used-in-non-successful-response: true
      x-do-not-generate: true
    QrCodeGetQrCodeByIdResponse:
      example:
        amount: 4990
        metadata:
        - name: CUSTOM_FIELD_NAME
          value: CUSTOM_FIELD_VALUE
        - name: CUSTOM_FIELD_NAME
          value: CUSTOM_FIELD_VALUE
        code: 804a46a7-7012-4159-8782-1090e85e4afa
        type: STATIC
        payer:
          taxId: "37515868066"
          name: Bruce Wayne
        createdAt: 2022-06-06T11:48:21Z
        failedAt: ""
        split:
        - recipientId: 009cb956-3b58-4731-927f-20225600b35b
          value: 990
        - recipientId: 009cb956-3b58-4731-927f-20225600b35b
          value: 990
        payload: 00020126580014BR.GOV.BCB.PIX01368ad59cd0-cd85-45eb-a443-b8824285c5f352040000530398654041.295802BR5924RPO
          GESTAO DE PAGAMENTOS6008SO PAULO6108000000006224052046193bc0333a468fa1ee6304A3E1
        processedAt: 2022-06-06T11:48:26Z
        paidAt: ""
        id: 6a0b14a9-023c-4198-9ada-6e4684213340
        paidAmount: ""
        status: PROCESSED
      properties:
        id:
          example: 6a0b14a9-023c-4198-9ada-6e4684213340
          type: string
          x-konfig-original-example: 6a0b14a9-023c-4198-9ada-6e4684213340
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-QrCodeGetQrCodeByIdResponse-properties-id
        code:
          example: 804a46a7-7012-4159-8782-1090e85e4afa
          type: string
          x-konfig-original-example: 804a46a7-7012-4159-8782-1090e85e4afa
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-QrCodeGetQrCodeByIdResponse-properties-code
        type:
          example: STATIC
          type: string
          x-konfig-original-example: STATIC
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-QrCodeGetQrCodeByIdResponse-properties-type
        amount:
          default: 0
          example: 4990
          type: integer
          x-konfig-original-example: 4990
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-QrCodeGetQrCodeByIdResponse-properties-amount
        paidAmount: {}
        payload:
          example: 00020126580014BR.GOV.BCB.PIX01368ad59cd0-cd85-45eb-a443-b8824285c5f352040000530398654041.295802BR5924RPO
            GESTAO DE PAGAMENTOS6008SO PAULO6108000000006224052046193bc0333a468fa1ee6304A3E1
          type: string
          x-konfig-original-example: 00020126580014BR.GOV.BCB.PIX01368ad59cd0-cd85-45eb-a443-b8824285c5f352040000530398654041.295802BR5924RPO
            GESTAO DE PAGAMENTOS6008SO PAULO6108000000006224052046193bc0333a468fa1ee6304A3E1
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-QrCodeGetQrCodeByIdResponse-properties-payload
        payer:
          $ref: '#/components/schemas/QrCodeGetQrCodeByIdResponse_payer'
        split:
          items:
            $ref: '#/components/schemas/QrCodeGetQrCodeByIdResponse_split_inner'
          type: array
        status:
          example: PROCESSED
          type: string
          x-konfig-original-example: PROCESSED
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-QrCodeGetQrCodeByIdResponse-properties-status
        createdAt:
          example: 2022-06-06T11:48:21Z
          type: string
          x-konfig-original-example: 2022-06-06T11:48:21Z
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-QrCodeGetQrCodeByIdResponse-properties-createdAt
        processedAt:
          example: 2022-06-06T11:48:26Z
          type: string
          x-konfig-original-example: 2022-06-06T11:48:26Z
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-QrCodeGetQrCodeByIdResponse-properties-processedAt
        paidAt: {}
        failedAt: {}
        metadata:
          items:
            $ref: '#/components/schemas/QrCodeGetQrCodeByIdResponse_metadata_inner'
          type: array
      type: object
      x-konfig-is-used-in-successful-response: true
    QrCodeGetQrCodeById400Response:
      properties: {}
      type: object
      x-konfig-is-used-in-non-successful-response: true
      x-do-not-generate: true
    ItpListAllResponse:
      example:
        data:
        - amount: 4990
          metadata:
          - name: CUSTOM_FIELD_NAME
            value: CUSTOM_FIELD_VALUE
          - name: CUSTOM_FIELD_NAME
            value: CUSTOM_FIELD_VALUE
          code: 804a46a7-7012-4159-8782-1090e85e4afa
          type: STATIC
          payer:
            taxId: "37515868066"
            name: Bruce Wayne
          createdAt: 2022-06-06T11:48:21Z
          failedAt: ""
          split:
          - recipientId: 009cb956-3b58-4731-927f-20225600b35b
            value: 990
          - recipientId: 009cb956-3b58-4731-927f-20225600b35b
            value: 990
          payload: 00020126580014BR.GOV.BCB.PIX01368ad59cd0-cd85-45eb-a443-b8824285c5f352040000530398654041.295802BR5924RPO
            GESTAO DE PAGAMENTOS6008SO PAULO6108000000006224052046193bc0333a468fa1ee6304A3E1
          processedAt: 2022-06-06T11:48:26Z
          paidAt: ""
          id: 6a0b14a9-023c-4198-9ada-6e4684213340
          paidAmount: ""
          status: PROCESSED
        - amount: 4990
          metadata:
          - name: CUSTOM_FIELD_NAME
            value: CUSTOM_FIELD_VALUE
          - name: CUSTOM_FIELD_NAME
            value: CUSTOM_FIELD_VALUE
          code: 804a46a7-7012-4159-8782-1090e85e4afa
          type: STATIC
          payer:
            taxId: "37515868066"
            name: Bruce Wayne
          createdAt: 2022-06-06T11:48:21Z
          failedAt: ""
          split:
          - recipientId: 009cb956-3b58-4731-927f-20225600b35b
            value: 990
          - recipientId: 009cb956-3b58-4731-927f-20225600b35b
            value: 990
          payload: 00020126580014BR.GOV.BCB.PIX01368ad59cd0-cd85-45eb-a443-b8824285c5f352040000530398654041.295802BR5924RPO
            GESTAO DE PAGAMENTOS6008SO PAULO6108000000006224052046193bc0333a468fa1ee6304A3E1
          processedAt: 2022-06-06T11:48:26Z
          paidAt: ""
          id: 6a0b14a9-023c-4198-9ada-6e4684213340
          paidAmount: ""
          status: PROCESSED
        paging:
          before: ""
          after: aWQ6YzYyZjViNTAtZTNiOS0xMWVjLTk0OWEtNjFkMjljNjZlMmNm
      properties:
        data:
          items:
            $ref: '#/components/schemas/ItpListAllResponse_data_inner'
          type: array
        paging:
          $ref: '#/components/schemas/ItpListAllResponse_paging'
      type: object
      x-konfig-is-used-in-successful-response: true
    ItpListAll400Response:
      properties: {}
      type: object
      x-konfig-is-used-in-non-successful-response: true
      x-do-not-generate: true
    ItpCreatePaymentInstructionResponse:
      example:
        amount: 4990
        metadata:
        - name: CUSTOM_FIELD_NAME
          value: CUSTOM_FIELD_VALUE
        - name: CUSTOM_FIELD_NAME
          value: CUSTOM_FIELD_VALUE
        code: 804a46a7-7012-4159-8782-1090e85e4afa
        type: STATIC
        payer:
          taxId: "37515868066"
          name: Bruce Wayne
        createdAt: 2022-06-06T11:48:21Z
        failedAt: ""
        split:
        - recipientId: 009cb956-3b58-4731-927f-20225600b35b
          value: 990
        - recipientId: 009cb956-3b58-4731-927f-20225600b35b
          value: 990
        payload: 00020126580014BR.GOV.BCB.PIX01368ad59cd0-cd85-45eb-a443-b8824285c5f352040000530398654041.295802BR5924RPO
          GESTAO DE PAGAMENTOS6008SO PAULO6108000000006224052046193bc0333a468fa1ee6304A3E1
        processedAt: 2022-06-06T11:48:26Z
        paidAt: ""
[...]
